a {
    color: white !important;
}

body {
    background-color: black;
    color: white;
}

.navbar-toggler, .navbar-toggler-icon {
   border-color: white !important;
}

.nav-img {
    height: 50px !important;
}

.card-img-top, .img-col {
    height: 50px !important;
}