{% extends 'base.html' %}

{% block content %}

<div class="row">
    <h1>{{ stock }}</h1>
    <!-- Add the plot -->
    <div class="row">
        <div class="col-md-8">
          <!-- Plot -->
          {{ plot_data|safe }}
        </div>
        <div class="col-md-4">
          <!-- Stock Buying Form -->
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Buy {{ stock }} Stock</h5>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="stock_symbol" value="{{ stock }}">
                {{ buystockform.as_p }}
                <button type="submit" class="btn btn-primary">Buy</button>
              </form>
            </div>
          </div>
        </div>
      </div>      
    <div class="button-container">
        <form class="m-1">
            {% csrf_token %}
            <input type="hidden" name="stock" value="{{ stock }}">
            <button type="submit" name="time_period" value="1D" class="btn btn-light">1D</button>
        </form>
        <form class="m-1">
            {% csrf_token %}
            <input type="hidden" name="stock" value="{{ stock }}">
            <button type="submit" name="time_period" value="1W" class="btn btn-light">1W</button>
        </form>
        <form class="m-1">
            {% csrf_token %}
            <input type="hidden" name="stock" value="{{ stock }}">
            <button type="submit" name="time_period" value="1M" class="btn btn-light">1M</button>
        </form>
        <form class="m-1">
            {% csrf_token %}
            <input type="hidden" name="stock" value="{{ stock }}">
            <button type="submit" name="time_period" value="1Y" class="btn btn-light">1Y</button>
        </form>
    </div>
</div>

<div class="row">
    <h2>News</h2>
    {% for item in news.news %}
    <div class="col-md-12 my-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.headline }}</h5>
                <p class="card-text">{{ item.author }}</p>
                <a href="{{ item.url }}" class="btn btn-primary" target="_blank">Read More</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
